.vscode/settings.json
build/bootloader/.ninja_log
build/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
build/esp-idf/esp_app_format/libesp_app_format.a
build/esp-idf/esp-modbus-master/CMakeFiles/__idf_esp-modbus-master.dir/freemodbus/serial_master/modbus_controller/mbc_serial_master.c.obj
build/esp-idf/esp-modbus-master/libesp-modbus-master.a
build/esp-idf/main/CMakeFiles/__idf_main.dir/inverter.c.obj
build/esp-idf/main/CMakeFiles/__idf_main.dir/main.c.obj
build/esp-idf/main/libmain.a
build/.bin_timestamp
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/compile_commands.json
build/ModbusModule.bin
build/ModbusModule.elf
build/ModbusModule.map
build/project_description.json
